
<div class="mt-4">
<div class="row">
		{{#each Course}}
	<div class="col-md-4 col-lg-4">
		<div class="card">
			<a href="/course/{{this.slug}}">
				<img class="card-img-top" src="{{this.images}}" alt="{{this.name}}">
			</a>
			<div class="card-body">
				<h5 class="card-title">{{this.name}}</h5>
				<p class="card-text">{{this.des}}</p>
				<a href="#" class="btn btn-primary">Chi Tiết</a>
			</div>
		</div>
	</div>
	{{/each}}
</div>
</div>